# Python
__pycache__/
*.pyc
.venv/
venv/

# Raw datasets
data/real/raw/
data/synthetic/raw/

# Processed model data
data/real/processed/*.npz
data/synthetic/processed/*.npz

# Model artifacts
models/real/*.pth
models/real/*.pkl
models/synthetic/*.pth
models/synthetic/*.pkl

# OS / IDE
.DS_Store
.idea/
.vscode/
